.full-width{
    width: 100%;
}

// Flex
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}

// List
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Text
.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.tag-text {
    color: $clr1;
    text-transform: uppercase;
    @include type(boldCondensed);
}

// button
.btn {
    background-color: $btn-color;
    border-radius: 3px;
    color: $text-color;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn:hover {
    background-color: $btn-hover;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.thin-hr{
    width: 100%;
    border-color: $light-text;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0; 
    
}

.font-cmp-btn{
    color: #172b4d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // margin-inline-end: 
}

// .add-todo{
//     display: flex;
//     align-items: center;
//     // justify-content: center;
//     background-color: $btn-color;
//     height: 32px;
//     padding: 6px 12px;
//     margin:8px 0px;
    
// }

// Aspect ratios

.ratio-16-9 {
    @include aspect-ratio(100, 56);
}

.ratio-square {
    @include aspect-ratio(100, 100);
}

.ratio-card {
    @include aspect-ratio(100, 80);
}

.ratio-poster {
    @include aspect-ratio(100, 150);
}

.l101-label {
    background-color: #61bd4f;
}
.l102-label {
    background-color: #f2d600;
}
.l103-label {
    background-color: #ff9f1a;
}
.l104-label {
    background-color: #eb5a46;
}
.l105-label {
    background-color: #c377e0;
}
.l106-label {
    background-color: #0079bf;
}
.l107-label {
    background-color: #00c2e0;
}
.l108-label {
    background-color: #51e898;
}
.l109-label {
    background-color: #ff78cb;
}
.l110-label {
    background-color: #344563;
}
.l111-label {
    background-color: #b3bac5;
}
