@font-face {
    font-family: roboto;
    src: url(/typography/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: roboto-bold;
    src: url(/typography/Roboto-Bold.ttf);
  }
  
  @font-face {
    font-family: segoeui;
    src: url(/typography/SEGOEUI.TTF);
  }
  
  @font-face {
    font-family: segoeui-bold;
    src: url(/typography/SEGOEUIB.TTF);
  }
  @font-face {
    font-family: trellicons;
    src: url(/typography/trellicons-regular.ttf);
  }