.attachment-preview {
    // text-align: center;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 210px;
    // height: 150px;
    background-color: white;
    position: absolute;
    top: 305px;
    border: 1px solid black 0.11;
    // padding: 1px;
    font-size: 16px;
    padding: 8px;
    // font-family: segoeui;

    .attach-from {
        text-align: center;
        color: $light-text;
        // font-weight: 500;

    }

    .attach-link-title{
        font-size: 12px;
        font-family: segoeui-bold,sans-serif;
        color: $light-text;
        // margin-bottom: 2px;
    }
}

.attach-preview img {
    margin-top: 5px;
    width: 100px;
}

.attach-input{
    font-family: segoeui,sans-serif;
    height: 36px;
    margin-left: 2px;
    background-color: #fafbfc;
    border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    border-radius: 3px;
    padding-inline-start: 12px;
}

.attach-input:focus{
    outline: 2px solid $trello-blue;
    box-shadow:none
}

.attachment-preview hr{
    border-color: #091e4221;
    margin: 20px 0;
}

.attach-link-btn{
    height: 32px;
    border-radius: 3px;
    border: none;
    background-color: $clr10;
    font-size: rem(16px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: segoeui,sans-serif;
    color: $text-color;
    width: 38%;
    margin-block-start: 15px;
    letter-spacing: 0.4px;
}

.attach-link-btn:hover {
    color: $clr1;
    color: $text-color;
}

