.filter-board-filter {
    position: fixed;
    top: 44px;
    right: 0;
    z-index: 1;
    background-color: #fff;
    color: $text-color;
    width: 384px;
    padding: 0 12px 12px 12px;
    .cmp-header {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        text-align: center;
    }
    .cmp-container-title {
        color: $light-text;
        margin: 0;
        height: 41px;
    }
    .close-cmp-btn {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
        & span {
            // padding: 6px;
            font-family: trellicons;
            width: 16px;
            height: 16px;
        }
        & span::before {
            content: "";
        }
    }
    & hr {
        width: 100%;
        border-color: #091e4221;
        margin-bottom: 13px;
    }

    .filter-section-title {
        margin-block-end: 12px;
        font-size: 12px;
        font-weight: 600;
        color: $light-text;
    }
    .checkbox-icon {
        height: 16px;
        width: 16px;
    }

    .filter-search-container {
        .search-input {
            font-family: segoeui, sans-serif;
            height: 36px;
            margin: 0px 0px 12px 0px;
            background-color: #fafbfc;
            border: none;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            border-radius: 3px;
            padding-inline-start: 12px;
            width: 100%;
        }
        .search-input:focus {
            outline: 2px solid $trello-blue;
            box-shadow: none;
        }
        .search-description {
            font-size: 11px;
            margin: 8px;
        }
    }
    .filter-member-container {
        .filter-member {
        }
        .filter-user-name {
        }
        .filter-no-member {
            .filter-no-user-avatar {
                border-radius: 50%;
                background-color: $card-grey;
                width: 30px;
                height: 30px;
                justify-content: center;
            }
        }
        .filter-members-list {
        }
    }
}
