.board-header,
.board-header > *,
.board-header > * > * {
    // color: $text-color;
    // gap: 9px;
    // justify-content: space-between;
    align-items: center;
}

.board-header {
    padding: 8px 4px 4px 13px; 
    height: auto;
    // background-color: #0000001a;
    flex-wrap: wrap;
    .star-btn {
        width: 32px;
        display: flex;
        justify-content: center;
        .star {
            width: 16px;
        }
        .star:hover {
        }
    }
    .board-title {
        margin: 0;
        padding: 0 12px;
        font-size: 18px;
        font-family: segoeui-bold;
        width: 432px;
        height: 32px;
        display: flex;
    }
    
    .star-btn{
        margin-right: 10px;
    }

    .user-avatar{
        margin-right: 5px;
    }
}

.invite-btn{
    padding: 6px 12px;
}

.invite-btn::before{
    font-family: trellicons;
    font-size: 16px;
    margin-inline-end: 4px;
    content: "\e902";
}

.show-menu-btn::before{
    font-family: trellicons;
    margin-inline-end: 4px;
    content: "";
}

.btn-board{
    border-radius: 3px;
    border: none;
    background-color: $clr5;
    font-size: rem(16px);
    height: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    // font-family: segoeui,sans-serif;
    // font-weight: 400;
}

.btn-board-details{
    font-size: rem(16px);
    // display: flex;
    // position: relative;
    width: 93px;
    margin-right: 5px;

    img{
        width: 20px;
        position: absolute;
        left: 5px;

    }
}

.btn-board-details::before{
    font-family: trellicons;
    font-size: 16px;
    margin-inline-end: 4px;
    content: "";
}

.filter-btn{
    padding: 6px 12px;

}

.filter-btn::before{
    font-family: trellicons;
    font-size: 16px;
    margin-inline-end: 5px;
    content: "";
}

.board-title-container button:nth-child(1)::before{
    font-family: trellicons;
    width: 20px;

}

// .invite-btn::before{
//     font-family: trellicons;
//     content: "\e902";
//     width: 30px;
// }

.board-container{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 28px 8px 28px;
}

.groups-container {
    padding: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    // height: calc(100vh - 5vh - 48px);
    height: 95vh;
    gap: 9px;
    // margin-left: 27px;
    .add-group {
        color: $text-color;
        background-color: #0000001a;
        padding: 1em;
        cursor: pointer;
        align-self: baseline;
        min-width: fit-content;
        width: 272px;
        flex-shrink: 0;
    }
}

// .shows-options-btn img{
//     width: 15px;
//     // color: white;
// }
