.groups-border {
    // font-weight: 600;
    font-family: segoeui, sans-serif;
    min-height: 28px;
    min-width: 272px;
    padding: 0 4px;
    height: fit-content;
    background-color: #ebecf0;
    border-radius: 3px;
    margin-right: 8px;
    color: $group-text;
    position: relative;
    .telete-preview {
        // right: 0;
        top: 10px;
    }
}

.outside-group {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4px 0 4px 4px;
    // padding-inline-start: 4px;
    font-size: 14px;
    display: flex;
    /* margin: 5px 0px 0px 9px; */
    align-items: center;
    font-weight: 600;
    // height: 40px;
    // margin-inline-end: 15px;
    /* margin-block-end: 6px; */
    margin-inline-start: 2px;
    color: $group-text;
    .group-title{
        padding-block: 2px;
    padding-inline-start: 6px;
    margin: 0;    
    flex-grow: 1;
    // height: 30px;
    align-self: center;
    &:focus{
        background-color: #fff;
        outline: 2px solid $trello-blue;
        border-radius: 3px;
    }
    }
    .remove-group-btn {
padding: 6px 8px;
color: $clr9;
        &::before {
            font-family: trellicons;
            content: "";
            font-size: 16px;
            font-weight: 400;
        }
        &:hover {
    color: $group-text;
    background-color: $btn-hover;
    border-radius: 3px;
cursor: pointer;
        }
    }
}

.draggable-container {
    width: 272px;
    padding-bottom: 0;
}

.bottom-outside-group {
    display: flex;
    margin: 0 2px;
    align-items: center;
    // font-weight: 600;
}

.add-task-container {
    height: 100px;
    margin-block-start: 8px;
    padding: 0 3px;
}

textarea {
    height: 54px;
    width: 272px;
    margin: 0 0 5px;
    border-radius: 3px;
    padding: 6px 8px 2px;
    box-shadow: 0 1px 0 #091e4240;
    border: 0;
    outline: none;
    font-family: segoeui, Roboto, Arial, Helvetica, sans-serif;
    color: $group-text;
    font-size: 14px;
    resize: none;
}

.adding-task-btn {
    background-color: $trello-blue;
    color: $card-grey;
    border-radius: 3px;
    border: none;
    font-size: rem(16px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: segoeui, sans-serif;
    margin: 0;
    // margin-left: 4px;
    padding: 6px 12px;
    // margin-top: 10px;
}

.adding-task-btn:hover {
    background-color: #026aa7;
}

.delete-task-btn::before {
    font-family: trellicons;
    font-size: 25px;
    // margin-inline-end: 4px;
    // margin-inline-start: 10px;
    content: "";
}

.delete-task-btn {
    color: $clr9;
    padding-left: 8px;
    border-radius: 3px;
    border: none;
    font-size: rem(16px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-task-btn:hover {
    color: $clr1;
    color: $text-color;
}

.add-task-btn {
    background-color: $card-grey;
    padding: 4px 0px;
    height: 100%;
    width: 272px;
    margin: 8px 0 5px 4px;
    // margin-inline-start: 4px;
    // margin-block-end: 5px;
    display: flex;
    cursor: pointer;

    &:hover {
        border-radius: 3px;
        background-color: $card-grey-hover;
    }
}

.add-task-btn::before {
    font-family: trellicons;
    font-size: 16px;
    margin-inline-end: 4px;
    margin-inline-start: 10px;
    content: "\e901";
}

.group-container {
    max-height: calc(100vh - 292px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 5px;


    @media (min-width: 372px){
        max-height: calc(100vh - 256px);
    }

    @media (min-width: 662px){
        max-height: calc(100vh - 220px);
    }
}
.group-container.add {
    max-height: calc(100vh - 287px);
}

.group-container:last-child {
    padding-bottom: 0;
}

.tasks-container:last-child {
    margin-bottom: 0;
}

.middle-group-list {
    flex-shrink: 0;
    // overflow-x: hidden;
    // overflow-y: auto;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    // background-color: #fff;
    border-radius: 3px;
    background-color: $card-grey;
    cursor: pointer;
}

.smooth-dnd-draggable-wrapper:last-of-type {
    padding-bottom: 0;
}
