.date-preview{
    // text-align: center;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
    position: absolute;
    top: 265px;
    border:1px solid black;
    padding: 1px;
    z-index: 10;

    // .attach-from{
    //     text-align: center;
    // }

    .pointer{
        cursor: pointer;
    }
}
