.home-page-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    background: linear-gradient(197deg, rgba(36,206,219,1) 0%, rgba(70,102,204,1) 100%);


    padding-top: 44px;
    min-height: 100vh;

}
