.home-page-container{
    background: linear-gradient(1deg,#579cc187,#8b7fcdb8 80%);
    height: 100vh;
    padding-top: 40px;
    .title-container{

        .title-text{
            display: flex;
            flex-direction: column;
            .home-logo{
                color: white;
                font-size: 2.5rem;
                width: 40%;
                line-height: 1;
                letter-spacing: 0.4px;
            }
        }
    }
}