.cmp-preview {
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50px;
    width: 306px;
    // right: -112px;
    // bottom: -175px;
    padding: 0px 12px 12px;
    z-index: 10;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    .cmp-header {
        text-align: center;
        // position: relative;
        .cmp-container-title {
            color: $light-text;
            margin: 0;
            height: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            // font-weight: 500;
        }

        .close-cmp-btn {
            position: absolute;
            top: 12px;
            right: 12px;
            // font-size: 20px;
            cursor: pointer;
            & span {
                // padding: 6px;
                font-family: trellicons;
                width: 16px;
                height: 16px;
            }
            & span::before {
                content: "";
            }
        }
        .back-to-cmp-btn {
            position: absolute;
            top: 12px;
            left: 12px;
            cursor: pointer;
            & span {
                padding: 6px;
                font-family: trellicons;
                width: 16px;
                height: 16px;
            }
            & span::before {
                content: "";
            }
        }
    }
    // .labels-title {
    //     margin-block-end: 12px;
    //     font-weight: 600;
    //     color: $light-text;
    // }
    .choose-labels-container {
        .labels-list {
            flex-direction: column;
            gap: 4px;
            .label-option-container {
                gap: 4px;
                .label-option {
                    width: 244px;
                    height: 32px;
                    justify-content: space-between;
                    align-items: center;
                    padding: 6px 12px;
                    font-family: segoeui-bold;
                    color: white;
                    border-radius: 3px;

                    & .v-icon {
                        font-family: trellicons;
                        width: 20px;
                        height: 20px;
                        color: white;
                        padding: 0;
                    }
                    & .v-icon::before {
                        content: "";
                    }
                }
                .change-label-btn {
                    padding: 6px;
                    & a {
                        font-family: trellicons;
                        width: 16px;
                        height: 16px;
                    }
                    & a::before {
                        content: "";
                    }
                }
                .change-label-btn:hover {
                    border-radius: 3px;
                    background-color: $btn-hover;
                    cursor: pointer;
                }
            }
        }
    }
    .create-label-container {
        .create-label-options-container {
            display: grid;
            grid-template-columns: repeat(5, 50px);
            gap: 8px;
            margin-bottom: 36px;

            .label-option {
                width: 50px;
                height: 30px;
                border-radius: 3px;
                justify-content: center;
                align-items: center;

                & .v-icon {
                    font-family: trellicons;
                    width: 20px;
                    height: 20px;
                    color: white;
                    padding: 0;
                }
                & .v-icon::before {
                    content: "";
                }
            }
        }
        .create-label-buttons-container {
            // margin: 0 12px 12px 12px;
            justify-content: space-between;
            & button {
                color: white;
                border-radius: 3px;
                border: none;
                font-size: rem(16px);
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: segoeui, sans-serif;
                margin: 0;
                padding: 6px 24px;
            }
            .create-label-btn {
                background-color: $trello-blue;
            }
            .create-label-btn:hover {
                background-color: #026aa7;
            }

            .delete-label-btn {
                padding: 6px 12px;
                background-color: $trello-danger;
            }
            .delete-label-btn:hover {
                background-color: #933b27;
            }
        }
    }
}
.labels-title {
    margin-block-end: 12px;
    font-size: 12px;
    font-weight: 600;
    color: $light-text;
    margin-bottom: 4px;
}

.label-input {
    font-family: segoeui, sans-serif;
    height: 36px;
    margin: 0px 0px 12px 0px;
    background-color: #fafbfc;
    border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    border-radius: 3px;
    padding-inline-start: 12px;
    width: 100%;
}

.label-input:focus {
    outline: 2px solid $trello-blue;
    box-shadow: none;
}

.label-preview hr {
    width: 100%;
    border-color: #091e4221;
    margin-bottom: 13px;
}

.select-label-container .open-create-label-btn {
    height: 32px;
    border-radius: 3px;
    border: none;
    background-color: $clr10;
    font-size: rem(16px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: segoeui, sans-serif;
    font-size: 16px;
    color: $text-color;
    width: 100%;
    margin-block-start: 15px;
}

.open-create-label-btn:hover {
    background-color: $card-grey;
}
