.label-preview {
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
    position: absolute;
    z-index: 10;

    .labels-header {
        text-align: center;
        position: relative;
        .add-task-close-cmp-btn {
            position: absolute;
            top: 16px;
            right: 16px;
            background-color: #00000000;
            border: none;
            cursor: pointer;
        }
    }
    .labels-list {
        flex-direction: column;
        gap: 4px;

        .label-option {
            width: 244px;
            height: 32px;
            justify-content: space-between;
            align-items: center;
            padding: 6px 12px;
            font-family: segoeui-bold;
            color: white;
            border-radius: 3px;
        }
    }
}
