.list-slot-container {
  .list-title{
    margin-block-end: 12px;
    font-size: 12px;
    font-weight: 600;
    color: $light-text;
    margin-bottom: 4px;


  }
  .slot-options-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 12px;
    // justify-content: center;

    .label-option {
      width: 50px;
      height: 32px;
      border-radius: 3px;
      justify-content: center;
      align-items: center;

      & .v-icon {
        font-family: trellicons;
        width: 20px;
        height: 20px;
        color: white;
        padding: 0;
      }
      & .v-icon::before {
        content: "";
      }
    }
  }
}
