// .app-header {
//     height: 100px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: $clr2;
//     padding: 1rem;

//     a {
//         @include btn
//     }
//   }

.app-header-container {
    background-color: #1a191885;

    // background-color: $clr6;
    position: fixed;
    z-index: 1;
    width: 100%;
    line-height: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    .app-header-inner {
        z-index: 1;
        display: flex;
        // justify-content: center;
        align-items: center;
        font-weight: 700;
        height: 44px;
        padding: 6px 4px;
        // background-color: #026aa7;
        color: $clr7;
        width: 100%;
        margin-left: 5px;
        align-items: center;
        gap: 8px;

        .logo-link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 0px 6px;
            height: 32px;
            gap: 4px;
            border-radius: 3px;
            .logo {
                margin: 0;
                font-size: 18px;
            }
            .logo-img {
                width: 16px;
                height: 16px;
                // position: absolute;
                // left: 43px;
            }
        }
        .logo-link:visited {
            color: #ffffff;
        }
        .logo-link:hover {
            background-color: #0000004d;
        }

        .btn-header {
            color: #ffffff;
            border-radius: 3px;
            border: none;
            background-color: #00000000;
            font-size: rem(16px);
            height: 32px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 10px 6px 12px;
            gap: 6px;
        }
        .btn-header:hover {
            background-color: #0000004d;
        }

        .header-arrow-icon::before {
            font-family: trellicons;
            content: "";
            color: #ffffff;
            width: 16px;
            height: 16px;
        }
    }
}

.app-header-container.blue {
    background-color: $clr6;
}
