.app-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $clr2;
    padding: 1rem;

    a {
        @include btn
    }
  }