.members-preview{
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50px;
    // right: -112px;
    // bottom: -175px;
    padding: 0px 12px 12px;
    z-index: 11;
}