.members-preview{
    background-color: white;
    width: 39.3%;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50px;
    // right: -112px;
    // bottom: -175px;
    padding: 0px 12px 12px;
    z-index: 10;

    .members-preview-header{
        // text-align: center;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 41px;
    }

    .close-members-preview{
        position: absolute;
        // z-index: 1;
        right: 3px;
    }

    hr {
        width: 100%;
        border-color: #091e4221;
        margin-bottom: 13px;
        margin-block-start: 0;
    }
}

.members-container{
    .input-container{
        .members-filter{
            font-family: segoeui, sans-serif;
            height: 36px;
            margin: 0px 0px 12px 0px;
            background-color: #fafbfc;
            border: none;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            border-radius: 3px;
            padding-inline-start: 12px;
            width: 100%;
        }
        .members-filter:focus {
            outline: 2px solid $trello-blue;
            box-shadow: none;
        }
    }

    .members-preview-title{
        margin-block-end: 5px;
        font-weight: 600;
        color: $light-text;
    }
    
    .board-members-container{
        .board-member{
            width: 100%;
            display: flex;
            list-style: none;
        }
    }
}


.member-check{
    font-family: trellicons;
    content: "î¤•";
}
