.task-details-dark {
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  z-index: 90;
  min-height: 100vh;
  width: 100%;
  left: 0;
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.task-details-page {
  display: flex;
  flex-direction: column;

  margin: 56px 0;
  width: 768px;
  // padding: 16px;
  // height: 780px;
  min-height: 600px;
  background-color: $bg-grey;
  border-radius: 3px;
  gap: 16px;
  z-index: 100;
  // position: absolute;
  // left: 50%;
  // top: 50px;
  // transform: translate(-50%, 0%);
  // pointer-events: none;

  .task-details-main-content {
    display: flex;
    padding: 16px;
    position: relative;
  }

  .task-details-container {
    width: 549px;
    .task-title-container::before {
      font-family: trellicons;
      margin-inline-end: 15px;
      margin-top: 1px;
      font-size: 25px;
      content: "";
      display: flex;
      align-items: center;
      color: #42526e;
    }

    .task-title-container {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      // align-items: center;
      align-content: center;
      font-family: segoeui-bold, sans-serif;
      font-size: 20px;
      color: $text-color;

      .task-title {
        padding: 4px;
        min-height: 32px;
        margin: 0;
        flex-grow: 1;
        max-width: 505px;
      }
    }

    .task-group-title {
      margin-left: 40px;
      margin-top: 5px;
    }

    .show-member-label {
      // flex-direction: column;
      flex-wrap: wrap;
      font-family: segoeui, sans-serif;
      font-weight: bold;
      margin-left: 40px;

      > * {
        margin: 0 8px 8px 0;
      }
      .members-header,
      .labels-header {
        font-size: 12px;
        font-family: segoeui-bold;
        color: $light-text;
        margin: 0 8px 4px 0;
      }
      .edit-members-container {
        color: $light-text;

        .members-header {
          margin-bottom: 6px;
        }
        .members-container {
          margin-left: 2px;
          margin-bottom: 17px;
          gap: 5px;

          // .user-avatar {
          //   cursor: pointer;
          // }
          .avatar-btn {
            justify-content: center;
            align-items: center;
            border: none;
            width: 30px;
            height: 30px;
            background-color: $btn-color;
            border-radius: 50%;
            font-size: 2rem;
            cursor: pointer;
          }
          .avatar-btn:hover {
            background-color: $btn-hover;
          }
        }
      }

      .edit-labels-container {
        .labels-header {
          font-size: 12px;
          color: $light-text;
          margin-bottom: 4px;
        }
        .labels-container {
          flex-wrap: wrap;
          .label-show {
            font-family: segoeui-bold;
            color: white;
            min-width: 40px;
            height: 30px;
            border-radius: 3px;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            padding: 0 12px;
            margin: 0 4px 4px 0;
            width: auto;
          }

          .label-show-btn {
            justify-content: center;
            align-items: center;
            border: none;
            width: 30px;
            height: 30px;
            background-color: $btn-color;
            border-radius: 3px;
            font-size: 2rem;
            cursor: pointer;
          }
          .label-show-btn:hover {
            background-color: $btn-hover;
          }
        }
      }

      .due-date-container {
        .displayed-date-checkbox {
          color: $text-color;
          font-weight: normal;
          display: flex;
          align-items: center;
          gap: 16px; //may need to change this to margin right later instead of gap

          img {
            height: 16px;
            width: 16px;
          }

          .completed-overdue-label {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 16px;
            padding: 0 4px;
            border-radius: 2px;
            color: white;
          }
        }
      }
    }

    .activities {
      .activity-details-header {
        height: 48px;
        display: flex;
        align-items: center;

        .activity-header::before {
          font-family: trellicons;
          margin-inline-end: 16px;
          content: "";
          font-size: 24px;
        }

        .activity-header {
          display: flex;
          font-size: 16px;
          color: $text-color;
          font-family: segoeui-bold;
          width: 460px;
        }
      }
      .activities-list {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .fake-text-area {
      color: $text-color;
      background-color: $btn-color;
      width: 92%;
      height: 56px;
      padding: 8px 12px;
      border-radius: 3px;
      margin-left: 40px;
      margin-bottom: 20px;
    }

    .add-edit-description-container {
      .description-header::before {
        font-family: trellicons;
        margin-inline-end: 15px;
        margin-top: 1px;
        font-size: 25px;
        content: "";
      }
      .description-header {
        display: flex;
        margin-block-start: 25px;
        font-family: segoeui-bold;
        font-size: 16px;
      }
    }
    .add-description-container {
      margin-inline-start: 40px;
      margin-bottom: 20px;

      .description-text-area {
        height: 110px;
        width: 100%;
        // margin: 0 0 4px;
        border-radius: 3px;
        padding: 8px 12px;
        // box-shadow: 0 1px 0 #091e4240;
        // border: 0;
        font-family: segoeui, Roboto, Arial, Helvetica, sans-serif;
        color: $text-color;
        font-size: 14px;
        resize: none;
      }

      .description-text-area:focus {
        outline: 2px solid $trello-blue;
      }

      .save-description-btn {
        background-color: $trello-blue;
        color: $card-grey;
        width: 52px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: segoeui, sans-serif;
        margin: 0;
        padding: 6px 12px;
      }

      .save-description-btn:hover {
        background-color: #026aa7;
      }

      .delete-description-btn::before {
        font-family: trellicons;
        font-size: 25px;
        // margin-inline-end: 4px;
        // margin-inline-start: 10px;
        content: "";
      }

      .delete-description-btn {
        background-color: $bg-grey;
        color: $clr9;
        border-radius: 3px;
        border: none;
        font-size: rem(14px);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .delete-description-btn:hover {
        color: $clr1;
        color: $text-color;
      }
    }

    .description-container {
      // align-items: center;
      // justify-content: baseline;
      // margin-inline-start: 40px;
      margin-block-start: 25px;

      .description-header-container::before {
        font-family: trellicons;
        margin-inline-end: 15px;
        margin-top: 1px;
        font-size: 25px;
        content: "";
      }

      .description-header-container {
        align-items: center;

        .description-header {
          margin: 0;
          font-family: segoeui-bold;
          font-size: 16px;
        }

        .edit-description-btn {
          margin-bottom: 0;
        }
      }

      button {
        display: flex;
        align-items: center;
        margin-left: 8px;
        background-color: $btn-color;
        color: $text-color;
        height: 32px;
        padding: 8px 12px;
      }
    }

    .go-back-btn::before {
      font-family: trellicons;
      // margin-inline-end: 15px;
      // margin-top: 1px;
      font-size: 23px;
      content: "";
    }

    .go-back-btn {
      background-color: #091e4214;
      position: absolute;
      top: 0px;
    right: 16px;
      color: $clr9;
      padding: 12px;
      border-radius: 50%;
      border: none;
      font-size: rem(16px);
      cursor: pointer;
    }

    .go-back-btn:hover {
      background-color: #00000029;
    }

    .details-shown-btn {
      width: 120px;
      margin-inline-start: 40px;
    }
  }

  .task-description {
    margin-block-start: 15px;
    margin-inline-start: 40px;
  }

  .add-task-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 60px auto;
    margin-right: -4px;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .add-task-buttons-title {
      margin: 0;
    }

    .btn {
      display: flex;
      align-items: center;
      width: 167px;
      overflow: hidden;
      white-space: nowrap;
      padding: 6px 12px;
      text-overflow: ellipsis;
      margin-top: 8px;
    }

    .td-actions {
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
      margin: 6px 12px -4px 0px;
      color: $light-text;
    }

    .td-delete-btn {
      color: #fff;
      background-color: $trello-danger;
      user-select: none;
      position: relative;
    }

    .td-delete-btn:hover {
      background-color: #933b27;
    }

    .td-delete-icon::before {
      font-family: trellicons;
      content: "";
    }

    .td-delete-icon {
      color: #fff;
      font-size: 16px;
      margin: 0 8px 0 -6px;
    }
  }
}
.img-container {
  margin-left: 40px;
}

.img-preview {
  width: 100px;
  margin-right: 5px;
}

// .text-pos{
//   margin-right: 7px;
//   font-size: 16px;
//   margin-inline-start: -5px;
//   margin-top: 2px;
// }

.attachment-img::before {
  font-family: trellicons;
  content: "\e908";
  margin-right: 7px;
  font-size: 16px;
  margin-inline-start: -5px;
  margin-top: 2px;
}

.dates-btn::before {
  font-family: trellicons;
  content: "";
  margin-right: 7px;
  font-size: 16px;
  margin-inline-start: -5px;
  margin-top: 2px;
}
.checklist-btn::before {
  font-family: trellicons;
  content: "";
  margin-right: 7px;
  font-size: 16px;
  margin-inline-start: -5px;
  margin-top: 2px;
}

.members-btn::before {
  font-family: trellicons;
  content: "";
  margin-right: 7px;
  font-size: 16px;
  margin-inline-start: -5px;
  margin-top: 2px;
}

.labels-btn::before {
  font-family: trellicons;
  content: "\e93f";
  margin-right: 7px;
  font-size: 16px;
  margin-inline-start: -5px;
  margin-top: 2px;
}

.labels {
  position: relative;
}

.Members {
  position: relative;
}

.cover-btn::before {
  font-family: trellicons;
  content: "";
  margin-right: 7px;
  font-size: 16px;
  margin-inline-start: -5px;
  margin-top: 2px;
}
.attachment-img,
.cover-btn,
.labels-btn,
.members-btn,
.checklist-btn,
.dates-btn {
  margin-bottom: 0;
}
