.task-preview-container {
  background-color: #fff;
  border-radius: 3px;
  padding: 6px 8px;
  cursor: pointer;
  position: relative;
  // box-shadow: 0 1px 0 #091e4240;

  .labels-container {
    display: flex;
    flex-wrap: wrap;
  }

  .task-preview-label {
    border-radius: 4px;
    margin: 0 4px 4px 0;
    min-width: 40px;
    width: auto;
    height: 8px;
    font-size: 0;
    transition: ease-in-out 0.6s;
  }
  .task-preview-label.open {
    margin: 0 2px 2px;
    padding: 0 8px;
    color: #fff;
    height: 16px;
    line-height: 16px;
    font-weight: 700;
    font-size: 12px;
    transition: ease-in-out 0.6s;
  }

  .labels-container:hover .task-preview-label {
    transition: height 60px 1s;
  }

  .user-avatar-pos {
    // position: absolute;
    right: 8px;
    bottom: -1px;
    gap: 4px;
    flex-grow: 1;
    justify-content: end;
  }

  &:hover {
    background-color: $card-grey-hover;
  }

}

.user-avatar-pos >*{
  object-fit: cover;
}

.attachment-img-preview::before {
  font-family: trellicons;
  font-size: 18px;
  // margin-inline-end: 5px;
  content: "";
}

.attachment-img-preview {
  margin-right: 1px;
}

.date-img-preview {
  padding: 2px 4px;
  border-radius: 3px;
}

.date-img-preview::before {
  font-family: trellicons;
  font-size: 18px;
  margin-inline-end: 5px;
  content: "\e91a";
}

.date-img-preview:hover:before {
  font-family: trellicons;
  font-size: 18px;
  margin-inline-end: 5px;
  content: "";
}

.checklists-img-preview::before {
  font-family: trellicons;
  font-size: 18px;
  // margin-inline-end: 5px;
  content: "";
}

.description-img-preview::before {
  font-family: trellicons;
  font-size: 18px;
  // margin-inline-end: 5px;
  content: "";
}

.task-snapshot {
  margin: 4px 0;
  flex-wrap: wrap;
  
}

.task-snapshot > * {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.task-content {
  margin-bottom: 2px;
}

// .user-avatar{
//   position: absolute;
//   right: 10px;
//   bottom:5px;
//   height: 30px;
//   width: 30px;
// }
