.user-avatar {
    border-radius: 50%;
    background-color: blue;
    color: aliceblue;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-family: segoeui-bold;
}
