.board-menu {
    position: fixed;
    top: 44px;
    right: 0;
    z-index: 1;
    background-color: $bg-grey;
    color: $text-color;
    width: 339px;
    height: 100%;
    padding: 0 0 12px 12px;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    // overflow-y: scroll;
    .cmp-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        .cmp-container-title {
            font-size: 16px;
            font-weight: 600;
            color: $light-text;
            margin: 0;
        }
        .close-cmp-btn {
            position: absolute;
            top: 12px;
            right: 12px;
            cursor: pointer;
            & span {
                // padding: 6px;
                font-family: trellicons;
                width: 16px;
                height: 16px;
            }
            & span::before {
                content: "";
            }
        }
        .back-to-cmp-btn {
            position: absolute;
            top: 12px;
            left: 12px;
            cursor: pointer;
            & span {
                padding: 6px;
                font-family: trellicons;
                width: 16px;
                height: 16px;
            }
            & span::before {
                content: "";
            }
        }
    }
    .menu-content {
        overflow-y: scroll;
        height: calc(100vh - 100px);

        .menu-options {
            flex-direction: column;
            gap: 4px;
            padding: 6px;
            .menu-option {
                display: flex;
                padding: 6px;
                gap: 8px;
                &:hover {
                    cursor: pointer;
                    background-color: $card-grey;
                    border-radius: 3px;
                }
                .menu-option-about,
                .menu-option-bgc,
                .menu-option-search {
                    font-weight: 600;
                    color: $text-color;
                    margin: 0;
                }
                .trello-icon::before {
                    font-family: trellicons;
                    content: "";
                    font-size: 20px;
                }

                .board-bg-preview {
                    width: 16px;
                    height: 16px;
                    border-radius: 3px;
                }

                .search-icon::before {
                    font-family: trellicons;
                    content: "";
                    font-size: 20px;
                }

                .menu-option-about-description {
                    color: $light-text;
                    margin: 0;
                }
            }
        }

        .menu-activities-container {
            padding: 6px;

            .activity-header::before {
                font-family: trellicons;
                margin-inline-end: 12px;
                content: "";
                font-size: 16px;
            }

            .activity-header {
                display: flex;
                font-size: 16px;
                color: $text-color;
                padding: 6px;
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    background-color: $card-grey;
                    border-radius: 3px;
                }
            }
            .activities-list {
                display: flex;
                flex-direction: column;
            }
            .show-allActivities {
                cursor: pointer;
                text-decoration: none;
                margin-top: 8px;
            }
        }
.change-bg-container{
    .unsplash-search {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 36px;
        margin: 0px 0px 12px 0px;
        background-color: #fafbfc;
        border: none;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        border-radius: 3px;
        padding-inline-start: 12px;
        width: 100%;
    }

    .change-bg-choose {
        padding: 12px 6px 12px 0;
        .photos-option,.colors-option,.custom-option{
            width: 152px;
            height: 96px;
            border-radius: 8px;
            background-color: #091e420a;
            cursor: pointer;
        }
        .photos-option:hover,.colors-option:hover {
            opacity: 0.7;
        }
        .custom-option{
            position: relative;
            &:hover {
            background-color: rgba(9, 30, 66, 0.152);
            }
            & span::before {
                content: "";
                font-size: 24px;
                font-family: trellicons;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
            


        .photos-option-title,.color-option-title{
            align-self: center;
        }
        .photos-colors-options {
            // flex-direction: column;
            // padding-block-start: 12px;
            width: 100%;
            gap: 8px;
            .photos-option-container,.colors-option-container{
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 8px;

            }
        }
        .custom-input-label {
            display: inline-block;
        }
        .custom-option-title {
            padding-block-start: 20px;
            font-size: 20px;
            font-weight: 600;
        }
    }
.options-list {
    padding: 12px 6px 12px 0;

    .colors-option,.photos-option {
        width: 152px;
        height: 96px;
        border-radius: 8px;
        background-color: #091e420a;
        cursor: pointer;
      }

}
}
    }
}


