.workspace-page-container {
    overflow-y: auto;
    width: 100vw;
    height: 100vh;

    .all-boards-container {
        margin: 100px auto;
        padding: 0 30px;
        max-width: 1100px;
        @media(min-width: 604px){
            padding: 0 60px;
        }

        .board-preview {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            width: 223px;
            height: 120px;
            border-radius: 3px;
            border: solid 1px $clr1;
            margin-right: 1.0625rem;
            margin-bottom: 2.0625rem;
            background-color: $clr2;
            cursor: pointer;
            border-color: white;
            padding: 5px;
            // background-color: black;
            position: relative;
            // z-index: 1;

            .title {
                margin: 0;
                color: white;
                padding: 1px 0px 0px 7px;
                align-self: flex-start;
                z-index: 2;
                text-shadow: 0px 0px 4px black;

            }

            &::before {
                border-radius: 3px;
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.317);
                opacity: 1;
                z-index: 0;

                transition: background-color 0.4s;
            }

            &:hover {
                &::before {
                    background-color: rgba(0, 0, 0, 0.437);
                }
            }
        }
    }
}

.favorite-boards {

    padding: 0;
    // margin-right: 1.0625rem;
    margin-bottom: 2.0625rem;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 544px){
        justify-content: start;
    }

    // .boards-container{
    //     display: flex;
    //     flex-wrap: wrap;
    //     z-index: 10;

    .favorite-board-title {
        margin: 0;
        color: white;
        padding: 1px 0px 0px 7px;
        align-self: flex-start;
        z-index: 2;
        text-shadow: 0px 0px 4px black;

        // .star-container{
        //     .ws-full-star{

        //     }

        //     .ws-empty-star{

        //     }
        // }
    }

}

// .board-preview:hover {
// opacity: 0.5;
// background-color: darken($color: white, $amount: 40%);
// }

.style-font {
    font-size: 16px;
    // font-weight: 700;
    // color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-card {
    background-color: $clr8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: $clr6;
    font-weight: 400;
}

.add-card:hover {
    background-color: #aaaaaa4d;
}

.saved-boards {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    justify-content: center;
    @media (min-width: 544px){
        justify-content: start;
    }
    // height: 80px;

    // .ws-full-star{
    //     z-index: 200;
    // }

    // .ws-empty-star{
    //     z-index: 200;
    // }
}

.remove-board-button {
    position: absolute;
    top: 120px;
}

.justify-center {
    justify-content: center;
}

.star-container {
    align-self: flex-end;
    z-index: 2;
}

.star-container img {
    width: 15px;
    transition: ease-in-out 0.2s;
}

.star-container img:hover {
    width: 20px;
}

.header-container {
    min-height: 10vh;
}

.main-layout {
    min-height: 90vh;
}

.img-pos {
    background-size: cover;
    background-position: center;
}

.all-boards-title {
    margin-top: 0;
}