.create-checklist-container{
    display: flex;
    flex-direction: column;
    width: 39.3%;
    top: 45px;
    right: 10px;
    margin-top: 10px;
    position: absolute;
    background-color: white;
    z-index: 10;
    border-radius: 3px;
    padding: 0px 12px 12px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;

    .checklist-header{
        color: $light-text;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 41px;

        .close-checklist::before{
            font-family: trellicons;
            font-size: 16px;
            content: "î¤›";
        }

        .close-checklist{
            position: absolute;
            // z-index: 1;
            right: 3px;
        }
    }

    .create-checklist-form{

        .form-title{
            color: $light-text;
            font-weight: 700;
            margin-top: 4px;
            font-size: 12px;
            // line-height: 16px;

        }
        .checklist-form{
            // font-family: segoeui, sans-serif;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            height: 36px;
            margin: 4px 0 12px;
            background-color: #fafbfc;
            border: none;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            border-radius: 3px;
            padding-inline-start: 12px;
            width: 100%;
        }

        .checklist-form:hover{
            background-color: $card-grey;
        }

        .checklist-form:focus {
            outline: 2px solid $trello-blue;
            box-shadow: none;
        }

        .create-form-done{
            display: flex;
            align-items: center;
            background-color: $trello-blue;
            color: #fff;
            padding: 6px 12px;
            margin:0px 4px 0px 0px;
            height: 32px;
            padding: 0px 24px;
            border: none;
            border-radius: 3px;
        }

        .create-form-done:hover{
            background-color: $clr6;
        }
    }
}