.date-preview{
    
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 316px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 10px;
    border:1px solid black;
    padding: 0 12px 12px;
    z-index: 10;
    border: none;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);

    .date-header{
        display: flex;
        position: relative;
    }
    // .attach-from{
    //     text-align: center;
    // }
   

    .date-title{
        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: $light-text;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        width: 272px;
        justify-content: center;
    }
    .vc-container{
        border: 0;
        .vc-time-picker{
         border-top: 0;   
        }
    }

    .add-task-close-cmp-btn{
        background-color: white;
        color: $clr9;
        border-radius: 3px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -17px;
        bottom: 17px;

        
    }
     .add-task-close-cmp-btn::before{
        font-family: trellicons;

        content: "î¤›";
    }
    .add-task-close-cmp-btn:hover {
        color: $clr1;
        color: $text-color;
    }

    .pointer{
        cursor: pointer;
    }
   
    .date-btn{
        height: 32px;
        width: 254px;
        border-radius: 3px;
        border: none;
        background-color: $clr10;
        font-size: rem(16px);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
    }
    
    .save-btn{
        background-color: $trello-blue;
        color: white;
        
        margin-top: 14px;
    }
    
    .remove-date-btn{
        margin: 12px 0;
    }
    .remove-date-btn:hover{
        background-color:$card-grey ;
    }
}


