.delete-preview {
    background-color: white;
    width: 21.714rem;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    right: -20px;
    padding: 0px 12px 12px;
    z-index: 10;

    .delete-header {
        justify-content: center;
        color: $light-text;
        align-items: center;
        line-height: 40px;
        position: relative;

        .close-delete::before {
            font-size: 16px;
            font-family: trellicons;
            content: "";
        }

        .close-delete {
            position: absolute;
            right: 1px;
        }
    }

    .delete-content-container {
        display: flex;
        flex-direction: column;

        p {
            color: $text-color;
            margin: 0 0 8px;
        }
        

        .confirm-delete {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: $trello-danger;
            user-select: none;
            width: 100%;
            margin-top: 8px;
            margin-bottom: 0;
            border-radius: 3px;
            padding: 6px 12px;
            cursor: pointer;

        }

        .btn{
            width: 100%;
        }
        .confirm-delete:hover {
            background-color: #933b27;
        }
    }
}


