.invite-user {
    font-size: 14px;
    color: $light-text;
    background-color: white;
    width: 21.86rem;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    padding: 0 12px 12px 12px;
    z-index: 1;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    

    .invite-user-header {
        display: flex;

        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;

        .invite-user-title {
            font-weight: 400;
            color: $light-text;
            margin: 0;
        }

        .close-cmp-btn {
            position: absolute;
            top: 12px;
            right: 12px;
            cursor: pointer;
            & span {
                font-family: trellicons;
                width: 16px;
                height: 16px;
            }
            & span::before {
                content: "î¤›";
            }
        }
    }
    .select-container{
padding-block-start: 8px;
        .add-members-btn {
            height: 32px;
            border-radius: 3px;
            border: none;
            background-color: $clr10;
            font-size: rem(16px);
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 16px;
            color: $text-color;
            width: 100%;
            margin-block-start: 8px;
    
            &:hover {
                background-color: $card-grey;
            }
        }
    }
    .members-container {
    
        .members-preview-title {
            margin-block-end: 5px;
            font-weight: 600;
            color: $light-text;
        }
    
        .board-members-container {
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 6px;
            margin-block-end: 0;
    
            .board-member {
                width: 100%;
                display: flex;
                list-style: none;
                justify-content: space-between;
                align-items: center;
                gap: 6px;
    
                .member-fullname {
                    flex-grow: 1;
                    padding-bottom: 3px;
                }
            }
        }
    }
}



