.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 380px;

  .login-logo-header {
    margin-top: 100px;
    margin-right: 4px;
    font-size: 50px;
    display: flex;
    align-items: center;
    .login-icon {
      margin-top: 6px;
      span:before {
        font-family: trellicons;
        content: "î¤Š";
        font-size: 50px;
      }
    }
  }

  .main-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    border-radius: 3px;
    padding: 30px 40px;
    min-height: 380px;
    box-shadow: 0 0 10px rgb(0 0 0 / 12%);
    width: 340px;

    .login-welcome-msg {
      color: #5e6c84;
      font-weight: 700;
    }

    .login-form-container {
      width: 100%;

      .log-out-button {
      }

      .sign-in-form,
      .sign-up-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 250px;

        .login-form-input {
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          height: 44px;
          margin: 0px 0px 12px 0px;
          background-color: #fafbfc;
          border: none;
          box-shadow: inset 0 0 0 2px #dfe1e6;
          border-radius: 3px;
          padding-inline-start: 12px;
          width: 100%;
        }

        .login-button {
          color: #fff;
          background-color: #61bd4f;
          user-select: none;
          border: none;
          font-weight: 700;
          letter-spacing: 1px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          padding: 12px;
          text-overflow: ellipsis;
          margin: 12px 0;

          &.guest {
            background-color: $trello-blue;
          }
          .or-div {
            color: #4d4d4d;
            font-size: 12px;
            margin-top: 6px;
          }
        }
      }
      hr {
        margin: 12px 0;
      }

      .signup-select-container {
          display: flex;
          justify-content: center;
        .sign-up-toggle {
          cursor: pointer;
          color: #0052cc;
          font-weight: 300;

          &:hover {
            text-decoration: underline;
          }
        }
        .trello-dot::before {
          margin: 0 8px 0 4px;
          font-family: trellicons;
          content: "\2022";
          color: #4d4d4d;
          font-size: 16px;
          margin-left: 7px;
        }
      }
    }
  }
}
