.app-header-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    z-index: 3;
    width: 100%;
    line-height: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191885;

    &.blue {
        background-color: $clr6;
    }


    .app-header-inner {
        z-index: 1;
        display: flex;
        align-items: center;
        font-weight: 700;
        height: 44px;
        padding: 0 6px 0 9px;
        color: $clr7;
        width: 100%;
        align-items: center;
        gap: 8px;

        .logo-link {

            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 0px 6px;
            height: 32px;
            gap: 4px;
            border-radius: 3px;

            .logo {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin: 0;
                font-size: 18px;
            }

            .logo-img {
                width: 16px;
                height: 16px;
                // position: absolute;
                // left: 43px;
            }

            &:visited {
                color: #ffffff;
            }

            &:hover {
                background-color: #0000004d;
            }
        }

        .app-header-nav {
            justify-content: space-between;
            flex-grow: 1;

            .app-header-left-nav {

                .btn-header {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    color: #ffffff;
                    border-radius: 3px;
                    border: none;
                    background-color: #00000000;
                    font-size: rem(16px);
                    height: 32px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 10px 6px 12px;
                    gap: 6px;

                    &.recent{
                        display: none;
                        @media (min-width: 390px){
                            display:inline;
                        }
                    }

                    &.create{
                        display: none;
                        @media (min-width: 450px){
                            display:inline;
                        }
                    }
                }

                .btn-header:hover {
                    background-color: #0000004d;
                }

                .header-arrow-icon::before {
                    font-family: trellicons;
                    content: "î¤£";
                    color: #ffffff;
                    width: 16px;
                    height: 16px;

                }
            }

            .app-header-right-nav {
                gap: 4px;

                .login-btn {
                    display: none;
                    background-color: #fff;
                    color: #0065ff;
                    font-size: rem(16px);
                    padding: 5px 12px;
                    cursor: pointer;
                    text-decoration: none;
                    border-radius: 3px;
                    @media (min-width: 600px){
                        display:inline;
                    }

                }

                .signup-btn {
                    display: none;
                    background-color: #0065ff;
                    color: #ffffff;
                    font-size: rem(16px);
                    padding: 5px 12px;
                    cursor: pointer;
                    text-decoration: none;
                    border-radius: 3px;
                    @media (min-width: 600px){
                        display:inline;
                    }

                }

                .header-bell {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #0000004d;
                    height: 32px;
                    width: 32px;
                    border-radius: 3px;
                    padding: 5px;
                    margin-inline-end: 2px;

                    & img {
                        width: 20px;
                        height: 20px;
                    }
                }
                .user-avatar-link{
                    text-decoration: none;
                }

                .user-avatar {
                    height: 32px;
                }

                & .user-avatar-img,
                .user-avatar-name,
                .user-avatar-guest {
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }
}