.user-avatar {
    // height: 30px;
    
    .user-avatar-img {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        object-fit: cover;
        background-color: $card-grey;
    }

    .user-avatar-name {
        border-radius: 50%;
        background-color: blue;
        color: aliceblue;
        width: 28px;
        height: 28px;
        justify-content: center;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .user-avatar-guest {
        border-radius: 50%;
        background-color:  $card-grey;
        // color: aliceblue;
        width: 28px;
        height: 28px;
        justify-content: center;
        align-items: center;

        &::before{
            font-family: trellicons;
            content: "";
            color: black;
        }
    }
}
