// SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

// BASICS
@import 'base/helpers';
@import 'base/base';
@import 'base/layout';

// COMPONENTS
@import 'cmps/main-header';
@import 'cmps/boards'
