// COLOR PALETTE
$text-color: #172b4d;
$light-text: #5e6c84;
$card-grey: #ebecf0;
$card-grey-hover: #091e4214;
$bg-grey: #f4f5f7;
$btn-color: #091e420a;
$btn-hover: #091e4214;
$clr1: #1a1918;
$clr2: #ebecf0; // I made this card grey from the gross light blue
$clr3: #90e0ef;
$clr4: darken($clr3, 40%);
$clr5: #0000001a;
$clr6: #026aa7;
$clr7: #ffffff;
$clr8: #f0f2f5;
$clr9: #6b778c;
$clr10: #f5f6f8;
$trello-blue: #0079bf;
$trello-danger: #b04632;
$group-text: #172b4d;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
